



  <section id="gnav" >
  <div id="gnav-inr">
  <a id="logo" href="">Stay Simple</a>
  <nav id="nav">
    <ul >
      <li><a href="index.html">Overview</a></li>
      <li><a href="icon.html">Icons</a></li>
      <li><a href="js.html">Js Library</a></li>
    </ul>
  </nav>
  </div>
  </section>

  <a id="btn-nav"><span class="closed"></span></a>






