<% include ./common/_head %>
<% include ./common/_navigation %>


  <div class="container">

    <div class="row bb">
      <div class="c12 columns">
        <h1>js plugins</h1>
      </div>
    </div>

    <% include ./plugins/_flickity %>
    <% include ./plugins/_lazyload %>
    <% include ./plugins/_tab %>
    <% include ./plugins/_photoswipe %>
    
</div>

<% include ./common/_food %>
